.ders5{
background-color: aqua;
}

#ders4{background-color: red;}

#ders3{background-color: blue;}

#ders2{background-color: blueviolet;}

.ders1{
    background-color: brown;
}

.doğukan{

    
    background-color:lime
    
}
a {
    background-color: blue;
    color: yellow;
    transition-property: background-color;
    transition-duration: 2s;
}
 
a:hover {
    background-color: red;

}

.container div {
 height: 50px;
 width: 0;
 background-color: rgb(116, 12, 12);
 margin-bottom: 10px;
 border-top-right-radius: 1s;
}